<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lcbrq" sortOrder="999" translate="label">
            <label>LeftCurlyBracket</label>
        </tab>
        <section id="perfectaudience" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label">
            <label>Perfect Audience</label>
            <tab>lcbrq</tab>
            <resource>LCB_PerfectAudience::perfectaudience</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 <field id="id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Perfect Audience Id</label>
                </field>
            </group>
        </section>
    </system>
</config>
